# Database Configuration
CAPTIVATE_DATABASE_URL=postgresql://postgres:<password>@localhost:5432/<database-name>?schema=public

# UAT Environment
MULESOFT_UAT_ENDPOINT=<your-uat-endpoint>
MULESOFT_UAT_CLIENT_ID=<your-uat-client-id>
MULESOFT_UAT_CLIENT_SECRET=<your-uat-client-secret>

# SIT Environment
MULESOFT_SIT_ENDPOINT=<your-sit-endpoint>
MULESOFT_SIT_CLIENT_ID=<your-sit-client-id>
MULESOFT_SIT_CLIENT_SECRET=<your-sit-client-secret>

# PROD Environment (if needed)
# MULESOFT_PROD_ENDPOINT=<your-prod-endpoint>
# MULESOFT_PROD_CLIENT_ID=<your-prod-client-id>
# MULESOFT_PROD_CLIENT_SECRET=<your-prod-client-secret>
